.hero {
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 100%);
    display: flex;
    width: 100%;
}

.hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    padding-left: 5%;
    line-height: 1.1;
}

.hero-left h2 {
    color: #090909;
    font-size: 3vh; /* Adjusted for responsiveness */
    font-weight: 600;
    margin-top: 1%;
}

.hero-left p {
    color: #171717;
    font-size: 5vh; /* Adjusted for responsiveness */
    font-weight: 700;
}

.hero-hand-icon {
    display: flex;
    align-items: center;
    gap: 10px;
}

.hero-hand-icon img {
    width: 10%;
}

.hero-latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 250px;
    height: 50px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 1.5vw; /* Adjusted for responsiveness */
    font-weight: 500;
}

.hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-right img {
    width: 30%; /* Make the image bigger */
    height: auto; 
    object-fit: cover;
    margin-top: 50px;
}